/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.navbar {
  background-color: #38B2AC;
  overflow: hidden;
  height: 63px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed silver;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 9rem;
}
.navbar .logo h1 {
  font-size: 25px;
  color: white;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: #000;
}
.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3b5998;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}
.side-nav a:hover {
  color: #fff;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}
footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #38B2AC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .footer-nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
footer .footer-nav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}
footer .footer-nav a:hover {
  background-color: #ddd;
  color: #000;
}
footer div p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
#main-content {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.landing {
  background-image: url(../img/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 85%;
  height: 65vh;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.landing .landing-content {
  margin: 20px;
  padding: 10px;
  color: #212529;
  font-weight: 2rem;
}
.landing .landing-content h1 {
  padding: 20px 20px 20px 0;
}
.landing .landing-content .landing-btn-groups {
  display: flex;
  justify-content: flex-start;
}
.landing .landing-content .landing-btn-groups a {
  margin: 5px;
  padding: 10px;
  font-size: 1.3rem;
  text-decoration: none;
  background: #f4f4f4;
  color: #17A2B8;
  border: 5px solid #17A2B8;
}
.how-it-works {
  width: 85%;
  height: 450px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-it-works h2 {
  font-size: 4rem;
  margin: 20px 0;
}
.how-it-works .features {
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.how-it-works .features .feature-boxes {
  width: 30%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #38B2AC;
}
.how-it-works .features .feature-boxes i {
  font-size: 10rem;
  margin: 20px;
}
.how-it-works .features .feature-boxes h3 {
  font-size: 3rem;
  margin: 20px;
  padding: 10px;
}
.how-it-works .features .feature-boxes p {
  margin: 10px;
  padding: 10px;
}
.popular-strains {
  width: 85%;
  height: 350px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #38B2AC;
  border-right: 2px solid #38B2AC;
  border-left: 2px solid #38B2AC;
  border-bottom: 5px solid #af7817;
}
.popular-strains h3 {
  font-size: 4rem;
  margin: 20px 0;
}
.popular-strains .examples-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}
.popular-strains .examples-container .example-strains {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: none;
  align-items: center;
}
.explore-more {
  width: 80%;
  padding: 20px;
  overflow: auto;
  display: flex;
  align-items: center;
  margin: 40px 30px 20px 30px;
}
.explore-more a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 10px;
  background: #17A2B8;
}
.about-this-project {
  padding: 20px 0;
}
.about-this-project .this-project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: none;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.about-this-project .this-project-container h2 {
  margin: 10px 0;
  text-align: center;
}
.about-this-project .this-project-container .github {
  width: 5.6rem;
  margin: 0 auto;
  padding: 20px 0;
}
.about-this-project .this-project-container .github a {
  display: inline-block;
  text-decoration: none;
  color: #38B2AC;
  font-size: 2rem;
  width: 5.6rem;
  font-size: 6.5rem;
}
.about-this-project .landing2 {
  max-width: 90%;
  max-height: 200px;
  margin-top: 30px;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: none;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.about-this-project .landing2 img {
  width: 30%;
  height: 170px;
}
.about-this-project .about-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .about-this-project .about-items {
    flex-direction: row;
  }
}
.about-this-project .about-items .about-item {
  width: 30%;
  height: 170px;
}
.about-this-project .about-items .about-item h3 {
  font-size: 1.6rem;
}
.about-this-project .about-items .about-item h3 sup {
  font-size: 2rem;
  color: #17A2B8;
}
.about-this-project .about-items .about-item p {
  width: 80%;
}
.about-this-project .about-items h3 {
  margin-bottom: 8px;
}
.meet-the-team {
  background: #eeeeee;
  padding: 50px 0 20px 0;
}
.meet-the-team .team-members {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: none;
  align-items: center;
}
@media (min-width: 700px) {
  .meet-the-team .team-members {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.meet-the-team h2 {
  text-align: center;
}
.meet-the-team h4 {
  margin: 5px 0;
  color: #718096;
}
.meet-the-team .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: none;
  align-items: center;
  margin: 20px 0;
  padding: 10px 30;
  border-left: 3.5px solid #17A2B8;
  width: 45%;
}
@media (min-width: 700px) {
  .meet-the-team .team {
    width: 48%;
  }
}
.meet-the-team .team .team-info {
  margin: 10px 20px;
  text-align: center;
}
.meet-the-team .social-medias a {
  text-decoration: none;
  color: #38B2AC;
  font-size: 2rem;
  font-size: 3.5rem;
  margin: 5px 10px;
}
.meet-the-team img {
  width: 100px;
  border-radius: 100px;
}
