footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: @blue-green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .footer-nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    a {
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      color: @white;

      &:hover {
        background-color: #ddd;
        color: #000;
      }
    }
  }
  
  div p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}