// Colors
@greyish-white: #f4f4f4;
@white: #FFFFFF;
@blue-green:#38B2AC;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;
@facebook-blue: #3b5998;
@silver: #DCDCDC;
@grey-text: grey;

// Others
@max-content-width: 1300px;

// Medias
@desktop: ~'(min-width: 1000px)';
@tablet: ~'(max-width: 768px)';
@phone: ~'(max-width: 500px)';
